# Data Wrangling Project, by Husam Ahmed.

## Introduction
This project investiages the flights data in 2008 in  the United States. The purpose of the project is performing the 3 stages of Data Wrangling (Gathering, Assessing, and Cleaning).

## Data Gathering

In [1]:
# Importing the required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
import bz2
import re
import requests

In [ ]:
# Downloading the 2008 flight data and unzipping it then saving it locally
url = 'https://dataverse.harvard.edu/api/access/datafile/:persistentId?persistentId=doi:10.7910/DVN/HG7NV7/EIR0RA'
response = requests.get(url)
with open('flights.csv.bz2' , mode = 'wb') as file:
    file.write(response.content)

In [ ]:
zipfile = bz2.BZ2File('flights.csv.bz2') 
data = zipfile.read() 
newfilepath = 'flights.csv.bz2'[:-4] 
open(newfilepath, 'wb').write(data)

234052199

## Data Assessing

In [2]:
# Reading in the data and displaying it for visual and programmatic assessment
flights = pd.read_csv('flights.csv')
flights.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,1343.0,1325,1451.0,1435,WN,588,...,4.0,9.0,0,NaN,0,16.0,0.0,0.0,0.0,0.0
1,2008,1,3,4,1125.0,1120,1247.0,1245,WN,1343,...,3.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,2009.0,2015,2136.0,2140,WN,3841,...,2.0,14.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,903.0,855,1203.0,1205,WN,3,...,5.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1423.0,1400,1726.0,1710,WN,25,...,6.0,10.0,0,NaN,0,16.0,0.0,0.0,0.0,0.0

In [5]:
flights.Cancelled.value_counts()

0    2324775
1      64442
Name: Cancelled, dtype: int64

In [ ]:
flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2389217 entries, 0 to 2389216
Data columns (total 29 columns):
 #   Column             Dtype
---  ------             -----
 0   Year               int64
 1   Month              int64
 2   DayofMonth         int64
 3   DayOfWeek          int64
 4   DepTime            float64
 5   CRSDepTime         int64
 6   ArrTime            float64
 7   CRSArrTime         int64
 8   UniqueCarrier      object
 9   FlightNum          int64
 10  TailNum            object
 11  ActualElapsedTime  float64
 12  CRSElapsedTime     float64
 13  AirTime            float64
 14  ArrDelay           float64
 15  DepDelay           float64
 16  Origin             object
 17  Dest               object
 18  Distance           int64
 19  TaxiIn             float64
 20  TaxiOut            float64
 21  Cancelled          int64
 22  CancellationCode   object
 23  Diverted           int64
 24  CarrierDelay       float64
 25  WeatherDelay       float64
 26  NASDelay           float64
 27  SecurityDelay      float64
 28  LateAircraftDelay  float64
dtypes: float64(14), int64(10), object(5)
memory usage: 528.6+ MB

In [8]:
flights

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,1343.0,1325,1451.0,1435,WN,588,...,4.0,9.0,0,NaN,0,16.0,0.0,0.0,0.0,0.0
1,2008,1,3,4,1125.0,1120,1247.0,1245,WN,1343,...,3.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,2009.0,2015,2136.0,2140,WN,3841,...,2.0,14.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,903.0,855,1203.0,1205,WN,3,...,5.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1423.0,1400,1726.0,1710,WN,25,...,6.0,10.0,0,NaN,0,16.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2389212,2008,4,17,4,1025.0,1025,1234.0,1237,DL,1207,...,5.0,16.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2389213,2008,4,17,4,1319.0,1320,1527.0,1524,DL,1208,...,9.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2389214,2008,4,17,4,1335.0,1335,1556.0,1553,DL,1209,...,7.0,31.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2389215,2008,4,17,4,1933.0,1935,2140.0,2141,DL,1210,...,9.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2389216,2008,4,17,4,621.0,615,752.0,754,DL,1211,...,15.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [ ]:
flights.isna().sum()

#### Data Assessing Summary:
- The flight date is split into year, month, dayofmonth columns.
- Many observations are NaN.
- Columns' names are capitalized, with no spacing, and aren't descriptive.
- Some columns are not necessary for analysis, Eg: FlightNum, CancellationCode.
- dayofweek column uses numbers to describe week days.

## Cleaning

#### Defining cleaning tasks:
- Rename columns.
- Create a new column "Travel_date" by combining the year, month, and dayofmonth columns.
- Drop unwanted columns.
- Drop NaN observations (would still have plenty of data to work with, 500,000 points approximately)
- Format the dayofweek column to display week days as saturday, sunday instead of numbers.

In [48]:
# Creating a copy of the dataset to work with without disturbing the original data
flight = flights.copy()

###### Cleaning task (1): Renaming the columns

In [49]:
flight.columns = flight.columns.str.lower()

In [ ]:
flight.rename(columns = {'dest': 'destination', 'deptime':'departure_time', 'arrtime':'arrival_time', 'actualelapsedtime' : 'flight_duration',
                         'airtime' : 'air_time', 'arrdelay' : 'arrival_delay' , 'depdelay' :'departure_delay' ,'weatherdelay' :'weather_delay',
                         'securitydelay' :'security_delay' , 'crselapsedtime' : 'estimated_flight_duration' , 
                         'lateaircraftdelay':'late_aircraft_delay', 'carrierdelay' : 'carrier_delay'
                        }, inplace = True)

###### Cleaning task (2): Creating the "travel_date" column

In [50]:
flight.year = flight.year.astype(str)
flight.month = flight.month.astype(str)
flight.dayofmonth = flight.dayofmonth.astype(str)

In [51]:
flight['travel_date'] = flight.year + '-' + flight.month + '-' + flight.dayofmonth

In [52]:
flight['travel_date'] = pd.to_datetime(flight['travel_date'])

In [15]:
flight.travel_date.head()

0   2008-01-03
1   2008-01-03
2   2008-01-03
3   2008-01-03
4   2008-01-03
Name: travel_date, dtype: datetime64[ns]

###### Cleaning task (3): Dropping unwanted columns

In [55]:
flight.drop(['year', 'month', 'dayofmonth', 'flightnum', 'tailnum','cancellationcode', 'nasdelay', 'uniquecarrier',
             'taxiin', 'taxiout', 'crsarrtime', 'crsdeptime'], axis = 1, inplace = True)

In [58]:
flight.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2389217 entries, 0 to 2389216
Data columns (total 18 columns):
 #   Column                     Dtype
---  ------                     -----
 0   dayofweek                  int64
 1   departure_time             float64
 2   arrival_time               float64
 3   flight_duration            float64
 4   estimated_flight_duration  float64
 5   air_time                   float64
 6   arrival_delay              float64
 7   departure_delay            float64
 8   origin                     object
 9   destination                object
 10  distance                   int64
 11  cancelled                  int64
 12  diverted                   int64
 13  carrier_delay              float64
 14  weather_delay              float64
 15  security_delay             float64
 16  late_aircraft_delay        float64
 17  travel_date                datetime64[ns]
dtypes: datetime64[ns](1), float64(11), int64(4), object(2)
memory usage: 328.1+ MB

###### Cleaning task (4): Dropping NaN observations

In [72]:
flight2 = flight.copy()

In [73]:
flight2.dropna( axis =  0 , inplace = True)

In [74]:
flight2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 584583 entries, 0 to 2389197
Data columns (total 18 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   dayofweek                  584583 non-null  int64
 1   departure_time             584583 non-null  float64
 2   arrival_time               584583 non-null  float64
 3   flight_duration            584583 non-null  float64
 4   estimated_flight_duration  584583 non-null  float64
 5   air_time                   584583 non-null  float64
 6   arrival_delay              584583 non-null  float64
 7   departure_delay            584583 non-null  float64
 8   origin                     584583 non-null  object
 9   destination                584583 non-null  object
 10  distance                   584583 non-null  int64
 11  cancelled                  584583 non-null  int64
 12  diverted                   584583 non-null  int64
 13  carrier_delay              584583 non-null  float64
 14  weather_delay              584583 non-null  float64
 15  security_delay             584583 non-null  float64
 16  late_aircraft_delay        584583 non-null  float64
 17  travel_date                584583 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(11), int64(4), object(2)
memory usage: 84.7+ MB

###### Cleaning task (5): Formatting the "dayofweek" column

In [75]:
flight3 = flight2.sample(100000)

In [ ]:
weekday = {1 : 'monday', 2 : 'tuesday' , 3 : 'wednesday', 4 :'thursday' , 5 :'friday', 6 :'saturday', 7 : 'sunday' }

In [76]:
for day_key in flight3['dayofweek']:
    if day_key in weekday:
        day_value = weekday.get(day_key)
        flight3.dayofweek.replace(day_key, day_value, inplace= True)

In [77]:
flight3.head()

,dayofweek,departure_time,arrival_time,flight_duration,estimated_flight_duration,air_time,arrival_delay,departure_delay,origin,destination,distance,cancelled,diverted,carrier_delay,weather_delay,security_delay,late_aircraft_delay,travel_date
833883,friday,2112.0,49.0,157.0,122.0,88.0,47.0,12.0,ORD,EWR,719,0,0,11.0,0.0,0.0,1.0,2008-02-01
1054776,saturday,1142.0,1501.0,379.0,340.0,353.0,41.0,2.0,IAD,LAX,2288,0,0,0.0,0.0,0.0,0.0,2008-02-02
1901590,thursday,2022.0,2137.0,75.0,77.0,53.0,45.0,47.0,IAH,BRO,308,0,0,45.0,0.0,0.0,0.0,2008-04-17
1088787,friday,648.0,1329.0,281.0,245.0,203.0,64.0,28.0,SAN,ORD,1723,0,0,0.0,0.0,0.0,0.0,2008-02-08
1780451,sunday,1903.0,2213.0,190.0,189.0,151.0,64.0,63.0,FLL,JFK,1069,0,0,2.0,0.0,0.0,29.0,2008-03-09

## Storing Data

In [80]:
# Storing the flight data as .csv
flight3.to_csv('flight_clean.csv', index = False)